@import 'guide.scss';

// Main Container
.main-wrapper {
	width: 100%;
}

// Subscribe Section
.subscribe-section {
	gap: 25px;
}
.subscribe__title {
	font-size: 2.4rem;
}
.subscribe__description {
	font-size: 1.8rem;
}
.subscribe__form {
	@include flexbox(column, center, start, 15px);
	height: auto;
}
.form__input {
	width: 100%;
	height: 40px;
}
.submit-btn {
	margin: 15px 0 0 0;
	width: 100%;
	height: 40px;
}

// Error Email Advice
.email--error {
	left: 15%;
	bottom: 20%;
}

// Statistics Graphic Section
.graphic__img {
	height: 180px;
}

// Footer
.footer {
	gap: 25px;
}
.social-media {
	width: 50%;
}
